VITE_SUPABASE_URL=https://eocaslbmjytorhacdcke.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvY2FzbGJtanl0b3JoYWNkY2tlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5NjQxMDQsImV4cCI6MjA5MzU0MDEwNH0.VeMqJZPnB3iQlbFCCbV14w-W4qggoPgjzQBUNq7lIGw
